################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/HtmlToPdfConverter/v17
/obj
/.vs
/bin/Debug/net8.0/refs
/bin/Debug/net8.0
